<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form>
                    <h:panelGroup>
                        <h:panelGrid columns="1">
                            <h:outputLabel for="name" value="Naziv:" />  
                            <p:inputText id="name" value="#{auditoriumManage.auditorium.name}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="capacity" value="Kapacitet" />  
                            <p:inputText  id="capacity" value="#{auditoriumManage.capacity}" required="true" requiredMessage="Šifra je potrebna" styleClass="input"/>  

                            <p:selectBooleanCheckbox value="#{auditoriumManage.whiteboard}" itemLabel="Tabla"/>
                            <p:selectBooleanCheckbox value="#{auditoriumManage.projector}" itemLabel="Projektor"/>
                            <p:selectBooleanCheckbox value="#{auditoriumManage.master_comp}" itemLabel="Nastavnicki racunar"/>
                            <p:commandButton id="saveButton2" value= "Dodaj" action="#{auditoriumManage.addAuditorium()}" styleClass="login"/> 
                        </h:panelGrid>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

