<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form id="rezer">
                    <h:panelGroup id="logintxtblank">
                        <h:panelGrid columns="5">   
                            <p:calendar value="#{auditoriumReservationManage.date}" placeholder="datum"/>
                    
                            <p:inputText value="#{auditoriumReservationManage.startHour}" placeholder="pocetak sat">
                    </p:inputText>
                            <p:inputText value="#{auditoriumReservationManage.startMinute}" placeholder="pocetak minut">
                    </p:inputText>
                            <p:inputText value="#{auditoriumReservationManage.durationHour}" placeholder="duzina sat">
                    </p:inputText>
                    <p:inputText value="#{auditoriumReservationManage.durationMinute}" placeholder="duzina minut">
                    </p:inputText>
                    <p:inputText value="#{auditoriumReservationManage.capacity}" placeholder="kapacitet">
                    </p:inputText>
                            <p:selectBooleanCheckbox value="#{auditoriumReservationManage.whiteboard}" itemLabel="Tabla"/>
                            <p:selectBooleanCheckbox value="#{auditoriumReservationManage.projector}" itemLabel="Projektor"/>
                            <p:selectBooleanCheckbox value="#{auditoriumReservationManage.master_comp}" itemLabel="Nastavnicki racunar"/>
                            <p:selectBooleanCheckbox value="#{auditoriumReservationManage.multiple}" itemLabel="Vise sala"/>
                    <p:commandButton value="Pretrazi">
                        <p:ajax listener="#{auditoriumReservationManage.searchFree()}" process="rezer" update=":kolekcija"/>
                    </p:commandButton>
                            </h:panelGrid> 
                    </h:panelGroup>
                </h:form>
                <h:form id ="kolekcija">
                    <h:panelGroup rendered="#{auditoriumReservationManage.possibleAuditoriums != null}">
                        <h:panelGrid>
                            <p:inputText value="#{auditoriumReservationManage.description}" placeholder="opis" rendered="#{not empty auditoriumReservationManage.possibleAuditoriums}"/>
                            <p:inputText value="#{auditoriumReservationManage.year}" placeholder="godina" rendered="#{not empty auditoriumReservationManage.possibleAuditoriums}"/>
                            <p:inputText value="#{auditoriumReservationManage.type}" placeholder="smer" rendered="#{not empty auditoriumReservationManage.possibleAuditoriums}"/>
                        </h:panelGrid>
                    </h:panelGroup>
                    <p:dataTable var="aud" value="#{auditoriumReservationManage.possibleAuditoriums}" rendered="#{auditoriumReservationManage.possibleAuditoriums != null}" styleClass="CSSTableGenerator" emptyMessage="Nema sala">
                    <p:column>
                        <h:outputLabel value="#{aud.name}"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="#{aud.capacity}">
                        </h:outputLabel>
                    </p:column>
                        <p:column>
                            <p:commandButton value="Rezervisi" action="#{auditoriumReservationManage.saveReservation(aud)}"/>
                        </p:column>
                    </p:dataTable>
                    
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

