<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
                <f:metadata>
            <f:event type="preRenderView" listener="#{auditoriumManage.showAuditoriums}" />
        </f:metadata>
    </h:head>
    <h:body>
<ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form id="audi">
                    <p:dataTable var="auditorium" value="#{auditoriumManage.available}" styleClass="CSSTableGenerator">
                    <p:column>
                        #{auditorium.name}
                    </p:column>
                    <p:column>
                        <p:commandButton value="Ispitaj">
                            <f:attribute name="auditorium_show" value="#{auditorium}"/>
                            <p:ajax event="click" listener="#{auditoriumManage.showAuditoriumDescription}" update=":description"/>
                        </p:commandButton>
   
                    </p:column>
                </p:dataTable>
                </h:form>
                
                <br/><br/>
                <h:form id="description">
                    <h:panelGroup id="logintxtblank" rendered="#{auditoriumManage.auditorium_show != null}">
                        <h:panelGrid columns="5">  
                            <p:outputLabel for="capacity" value="Kapacitet"/>
                            <p:inputText id="capacity" value="#{auditoriumManage.auditorium_show.capacity}" immediate="true"/>
                            <p:selectBooleanCheckbox value="#{auditoriumManage.whiteboard}" disabled = "disabled" itemLabel="Tabla" />
                            <p:selectBooleanCheckbox value="#{auditoriumManage.projector}" disabled = "disabled" itemLabel="Projektor"/>
                            <p:selectBooleanCheckbox value="#{auditoriumManage.master_comp}" disabled = "disabled" itemLabel="Nastavnicki racunar"/>          
                            <p:commandButton ajax="false" action="#{auditoriumManage.toReservations(auditoriumManage.auditorium_show)}" value="Rezervacije"/>
                        </h:panelGrid>
                   </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

