<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <f:metadata>
            <f:event type="preRenderView" listener="#{auditoriumReservationManage.myCurrentReservations()}" />
        </f:metadata>
    </h:head>
    <h:body>
        <ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form id ="rezervacije">
                    <p:dataTable var="reservation" value="#{auditoriumReservationManage.reservations}" emptyMessage="Nema tekucih rezervacija" styleClass="CSSTableGenerator">
                    <p:column>
                        <p:calendar value="#{reservation.date}"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="#{reservation.description}"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Uvid">
                            <p:ajax event="click" listener="#{auditoriumReservationManage.auditoriumsForReservation(reservation)}" update=":description"/>
                        </p:commandButton>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Otkazi">
                            <p:ajax event="click" listener="#{auditoriumReservationManage.removeReservation(reservation)}" update=":rezervacije :description"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                </h:form>
                <br/><br/>
                <h:form id="description">
                    <p:dataTable var="auditorium" value="#{auditoriumReservationManage.reservation.auditoriums}" id="rezervacije" rendered="#{auditoriumReservationManage.reservation != null}" styleClass="CSSTableGenerator">
                        <p:column>
                            <h:outputLabel value="#{auditorium.auditorium.name}"/>
                        </p:column>
                        <p:column>
                            <p:commandButton value="Otkazi">
                                <p:ajax event="click" listener="#{auditoriumReservationManage.removeReservationAuditorium(auditorium)}" update=":description :rezervacije"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
                    
            </ui:define>
        </ui:composition>
    </h:body>
</html>

