<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
                <ui:composition template="master.xhtml">
                    <ui:define name="sredina">
                        <h:form>
                        <h:panelGroup>
                            <h:panelGrid columns="1">

                            <h:outputLabel for="name" value="Ime:" />  
                            <p:inputText readonly="true" id="name" value="#{user.name}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="surname" value="Prezime:" />  
                            <p:inputText readonly="true" id="surname" value="#{user.surname}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  
                            
                            <h:outputLabel for="birthplace" value="Mesto rodjenja:" />  
                            <p:inputText readonly="true" id="birthplace" value="#{user.birthplace}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  
                            
                            <h:outputLabel for="jmbg" value="JMBG:" />  
                            <p:inputText readonly="true" id="jmbg" value="#{user.jmbg}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  
                            
                            <h:outputLabel for="phone" value="Telefon:" />  
                            <p:inputText readonly="true" id="phone" value="#{user.phone}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="gender" value="Pol" />  
                            <p:inputText readonly="true" id="gender" value="#{user.gender}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>
                            
                            <h:outputLabel for="email" value="E-mail:" />  
                            <p:inputText readonly="true" id="email" value="#{user.email}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/> 
                            
                            <h:outputLabel for="year" value="Godina studija" rendered="#{user.type == 0}"/>
                            <p:inputText readonly="true" id="year" value="#{user.year}" rendered="#{user.type == 0}" styleClass="input"/>

                            <h:outputLabel for="field" value="Smer" rendered="#{user.type == 0}"/>
                            <p:inputText readonly="true" id="field" value="#{user.field}" rendered="#{user.type == 0}" styleClass="input"/>
                            
                            <h:outputLabel for="title" value="Titula" rendered="#{user.type == 1}"/>
                            <p:inputText readonly="true" id="title" value="#{user.title}" rendered="#{user.type == 1}" styleClass="input"/>
                            
                            
                            <h:outputLabel for="office" value="Kancelarija" rendered="#{user.type == 1}"/>
                            <p:inputText readonly="true" id="office" value="#{user.office}" rendered="#{user.type == 1}" styleClass="input"/>
                                <p:column>
                                    <h:graphicImage value="/resources/uploads/#{user.username}" styleClass="rightpic"  alt="Nema slike"/>
                                </p:column>
                            </h:panelGrid>
                        </h:panelGroup>
                        </h:form>
                    </ui:define>
                </ui:composition>
    </h:body>
</html>

