<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/style.css"/>
    </h:head>
    <h:body>
            <ui:composition template="master.xhtml">
                <ui:define name="meni">
                    
                </ui:define>
            <ui:define name="sredina">
                <h:form id="login">
                    <h:panelGroup id="logintxtblank">
                        <div id="loginheading">
                             <h4>Login</h4>
                        </div>
                        <h:panelGrid columns="5"> 
                            <h:outputLabel for="username2" value="Korisničko ime:" />  
                            <p:inputText id="username2" value="#{login.username}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="pwd2" value="Šifra:" />  
                            <p:password id="pwd2" value="#{login.password}" required="true" requiredMessage="Šifra je potrebna" styleClass="input"/>  

                            <p:commandButton update="jsf_message" ajax = "false" id="saveButton2" value= "Login" action="#{login.checkLogin()}" styleClass="login"/>
                        </h:panelGrid> 
                    </h:panelGroup>
                    
                </h:form>
                <h:form>
                    <h:outputLabel for="register" value="Niste korisnik?" />
                            <p:commandButton ajax = "false" id="register" styleClass="register" value="Register" action="#{login.newRegister()}"/>
                </h:form>
                
            </ui:define>
        </ui:composition>
    </h:body>
</html>

