<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
                <f:metadata>
                    <f:event type="preRenderView" listener="#{auditoriumReservationManage.myOldReservations()}" />
        </f:metadata>
    </h:head>
    <h:body>
        <ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form id="description">
                    <p:dataTable var="reservation" value="#{auditoriumReservationManage.reservations}" emptyMessage="Nema starih rezervacija" styleClass="CSSTableGenerator">
                    <p:column>
                        <p:calendar value="#{reservation.date}"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="#{reservation.description}"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Upotrebljena" rendered="#{reservation.used == 0}">
                            <p:ajax event="click" listener="#{auditoriumReservationManage.used(reservation, true)}" update=":description"/>
                        </p:commandButton>
                                                <p:commandButton value="Nije upotrebljena" rendered="#{reservation.used == 0}">
                            <p:ajax event="click" listener="#{auditoriumReservationManage.used(reservation, false)}" update=":description"/>
                        </p:commandButton>
                        <h:outputLabel value="Iskoriscena" rendered="#{reservation.used eq 2}"/>
                        <h:outputLabel value="Nije iskoriscena" rendered="#{reservation.used eq 1}"/>
                    </p:column>
                                           
                </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

