<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form id="login">
                    <h:panelGroup id="logintxtblank">
                        <div id="loginheading">
                             <h4>Promeni sifru</h4>
                        </div>
                        <h:panelGrid columns="2">                     
                            <h:outputLabel for="username2" value="Korisnicko ime:" />  
                            <p:inputText id="username2" value="#{login.username}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="pwd2" value="Stara sifra:" />  
                            <p:password id="pwd2" value="#{login.password}" required="true" requiredMessage="Šifra je potrebna" styleClass="input"/>  

                            <h:outputLabel for="pwd3" value="Nova sifra:" />  
                            <p:password id="pwd3" value="#{login.password_new}" validator="#{login.checkPassword}" required="true" requiredMessage="Nova sifra je potrebna" styleClass="input"/>  
                            
                            <p:commandButton ajax="false" id="saveButton2" value= "Sacuvaj" action="#{login.changePassword()}" styleClass="register"/> 
                        </h:panelGrid> 
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

