<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        
        <h:outputStylesheet name="css/style.css"/>
                <f:metadata>
            <f:event type="preRenderView" listener="#{login.newUser()}" />
        </f:metadata>
    </h:head>
    <h:body>
    <ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form id="register1" enctype="multipart/form-data">
                    <h:panelGroup id="logintxtblank">            
                        <h:panelGrid columns="1"> 
                                                        <h:selectOneRadio value="#{login.user.type}" id="tip">
                                <f:selectItem itemValue="0" itemLabel="Student"/>
                                <f:selectItem itemValue="1" itemLabel="Nastavnik"/>
                                <f:selectItem itemValue="2" itemLabel="Admin"/>
                                <f:ajax listener="#{login.userChanged()}" render="register1" execute="tip"/>
                            </h:selectOneRadio>
                            <h:outputLabel for="username2" value="Korisničko ime:" />  
                            <p:inputText id="username2" validator="#{login.checkUsername}" value="#{login.user.username}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="pwd2" value="Šifra:" />  
                            <p:password id="pwd2" value="#{login.user.password}" validator="#{login.checkPassword}" required="true" requiredMessage="Šifra je potrebna" styleClass="input"/>
                            
                            <h:outputLabel for="name" value="Ime:" />  
                            <p:inputText binding = "#{login.nameComp}" id="name" value="#{login.user.name}" required="true" requiredMessage="Ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="surname" value="Prezime:" />  
                            <p:inputText binding = "#{login.surnameComp}" id="surname" value="#{login.user.surname}" required="true" requiredMessage="Prezime je potrebno" styleClass="input"/>  
                            
                            <h:outputLabel for="birthplace" value="Mesto rodjenja:" />  
                            <p:inputText id="birthplace" value="#{login.user.birthplace}" required="true" requiredMessage="Mesto rodjenja je potrebno" styleClass="input"/>  
                            
                            <h:outputLabel for="jmbg" value="JMBG:" />  
                            <p:inputText id="jmbg" value="#{login.user.jmbg}" required="true" requiredMessage="JMBG je potreban" styleClass="input"/>  
                            
                            <h:outputLabel for="phone" value="Telefon:" />  
                            <p:inputText id="phone" value="#{login.user.phone}" required="true" requiredMessage="Telefon je potreban" styleClass="input"/>  

                            <h:outputLabel for="gender" value="Pol" />  
                            <p:inputText id="gender" value="#{login.user.gender}" required="true" requiredMessage="Pol je potreban" styleClass="input"/>
                            
                            <h:outputLabel for="email" value="E-mail:" />  
                            <p:inputText id="email" value="#{login.user.email}" required="true" requiredMessage="Email je potreban" styleClass="input"/> 
                            
                            <h:outputLabel for="year" value="Godina studija" rendered="#{login.currentType == 0}"/>
                            <p:inputText id="year" value="#{login.year}" rendered="#{login.currentType == 0}" styleClass="input"/>

                            <h:outputLabel for="field" value="Smer" rendered="#{login.currentType == 0}"/>
                            <p:inputText id="field" value="#{login.field}" rendered="#{login.currentType == 0}" styleClass="input"/>
                            
                            <h:outputLabel for="title" value="Titula" rendered="#{login.currentType == 1}"/>
                            <p:inputText id="title" value="#{login.title}" rendered="#{login.currentType == 1}" styleClass="input"/>
                            
                            
                            <h:outputLabel for="office" value="Kancelarija" rendered="#{login.currentType == 1}"/>
                            <p:inputText id="office" value="#{login.office}" rendered="#{login.currentType == 1}" styleClass="input"/>
                            
                            <h:outputLabel for="predmeti" value="Predmeti"/>
                            <p:selectManyCheckbox  id = "predmeti" value="#{login.nameSelected}" rendered="#{login.currentType == 1}">
                                <f:selectItems value="#{login.allSubjects}" rendered="#{login.currentType == 1}"/>
                            </p:selectManyCheckbox>
                            <br/>
                            <h:outputLabel for="uploadBtn" value="Slika"/>
                            <p:fileUpload id="uploadBtn" mode="simple" dragDropSupport="false"
                               allowTypes="/(\.|\/)(gif|jpe?g|png)$/" value="#{login.upFile}" style="background-color: red "/>
                            <br/>
                            <p:commandButton  id="saveButton2" value= "Register" action="#{login.register()}" styleClass="register" ajax="false" update=":jsf_message"/> 
                    </h:panelGrid> 
                    </h:panelGroup>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

