<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
 <ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form id="unos">
                    <h:panelGrid columns="1">
                        <p:column>
                            <p:outputLabel for="date" value="Datum"/>
                        </p:column>
                        <p:column>
                        <p:calendar id="date" value="#{auditoriumReservationManage.date}"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel for="sala" value="Sala"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="sala" value="#{auditoriumReservationManage.auditoriumName}"/>
                        </p:column>
                        <p:column>
                        <p:commandButton value="Uvid">
                            <p:ajax event="click" process= ":unos" listener="#{auditoriumReservationManage.studentShowReservations()}" update=":description"/>
                        </p:commandButton>
                        </p:column>
                    </h:panelGrid>
                </h:form>
                                <br/><br/>
                <h:form id="description">
                    <p:dataTable var="res" value="#{auditoriumReservationManage.resAuds}" rendered="#{auditoriumReservationManage.resAuds != null}" styleClass="CSSTableGenerator" emptyMessage="Nema rezervacija">
                        <p:column headerText="Pocetak cas" >
                            <h:outputLabel value="#{res.reservation.startHour}"/>
                        </p:column>
                                                                       <p:column headerText="Pocetak minut">
                                                    <h:outputLabel value="#{res.reservation.startMinute}"/>
                        </p:column>
                                                <p:column headerText="Kraj cas">
                                                    <h:outputLabel value="#{res.reservation.endHour}"/>
                        </p:column>
 
                                                <p:column headerText="Kraj minut">
                                                    <h:outputLabel value="#{res.reservation.endMinute}"/>
                        </p:column>
                                                                        <p:column headerText="Opis">
                                                    <h:outputLabel value="#{res.reservation.description}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

