<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
                                        <f:metadata>
                                            <f:event type="preRenderView" listener="#{exerciseManage.loadExercises()}" />
        </f:metadata>
    </h:head>
    <h:body>
                    <ui:composition template="master.xhtml">
                        <ui:define name="sredina">
                            <h:form id="raspored">
                                <p:dataTable var="i" value="#{exerciseManage.count}" emptyMessage="Nema rezervacija">
                                <p:column headerText="Ponedeljak">
                                    
                                    <h:panelGrid columns="1" rendered="#{exerciseManage.exercises[0].collection.size() > i}" style="background-color:  #{exerciseManage.exercises[0].collection.get(i).isMine? 'red' : 'aquamarine'};" >
                                        <p:ajax event="click" rendered="#{user.type == 0}" listener="#{exerciseManage.change(exerciseManage.exercises[0].collection.get(i))}" update=":raspored"/>
                                        <p:column>
                                        <p:outputLabel value="#{exerciseManage.exercises[0].collection.get(i).auditoriums}"/>
                                        </p:column>
                                        
                                    <p:outputLabel value="#{exerciseManage.exercises[0].collection.get(i).getTime()}"/>
                                  
                                        <p:outputLabel value="#{exerciseManage.exercises[0].collection.get(i).reservation.description}" rendered="#{user.type == 0 or exerciseManage.exercises[0].collection.get(i).isMine}"/>
                                    
                                    
                                        <p:outputLabel value="#{exerciseManage.exercises[0].collection.get(i).reservation.teacher.name}" rendered="#{user.type == 1 and !exerciseManage.exercises[0].collection.get(i).isMine}"/>
                                  
                                    </h:panelGrid>
                                </p:column>
                                                                    <p:column headerText="Utorak">
                                    
                                    <h:panelGrid columns="1" rendered="#{exerciseManage.exercises[1].collection.size() > i}" style="background-color:  #{exerciseManage.exercises[1].collection.get(i).isMine? 'red' : 'aquamarine'};" >
                                        <p:ajax event="click" rendered="#{user.type == 0}" listener="#{exerciseManage.change(exerciseManage.exercises[1].collection.get(i))}" update=":raspored"/>
                                        <p:column>
                                        <p:outputLabel value="#{exerciseManage.exercises[1].collection.get(i).auditoriums}"/>
                                        </p:column>
                                        
                                    <p:outputLabel value="#{exerciseManage.exercises[1].collection.get(i).getTime()}"/>
                                  
                                        <p:outputLabel value="#{exerciseManage.exercises[1].collection.get(i).reservation.description}" rendered="#{user.type == 0 or exerciseManage.exercises[1].collection.get(i).isMine}"/>
                                    
                                    
                                        <p:outputLabel value="#{exerciseManage.exercises[1].collection.get(i).reservation.teacher.name}" rendered="#{user.type == 1 and !exerciseManage.exercises[1].collection.get(i).isMine}"/>
                                  
                                    </h:panelGrid>
                                </p:column>
                                                                    <p:column headerText="Sreda">
                                    
                                    <h:panelGrid columns="1" rendered="#{exerciseManage.exercises[2].collection.size() > i}" style="background-color:  #{exerciseManage.exercises[2].collection.get(i).isMine? 'red' : 'aquamarine'};" >
                                        <p:ajax event="click" rendered="#{user.type == 0}" listener="#{exerciseManage.change(exerciseManage.exercises[2].collection.get(i))}" update=":raspored"/>
                                        <p:column>
                                        <p:outputLabel value="#{exerciseManage.exercises[2].collection.get(i).auditoriums}"/>
                                        </p:column>
                                        
                                    <p:outputLabel value="#{exerciseManage.exercises[2].collection.get(i).getTime()}"/>
                                  
                                        <p:outputLabel value="#{exerciseManage.exercises[2].collection.get(i).reservation.description}" rendered="#{user.type == 0 or exerciseManage.exercises[2].collection.get(i).isMine}"/>
                                    
                                    
                                        <p:outputLabel value="#{exerciseManage.exercises[2].collection.get(i).reservation.teacher.name}" rendered="#{user.type == 1 and !exerciseManage.exercises[2].collection.get(i).isMine}"/>
                                  
                                    </h:panelGrid>
                                </p:column>
                                                                    <p:column headerText="Cetvrtak">
                                    
                                    <h:panelGrid columns="1" rendered="#{exerciseManage.exercises[3].collection.size() > i}" style="background-color:  #{exerciseManage.exercises[3].collection.get(i).isMine? 'red' : 'aquamarine'};" >
                                        <p:ajax event="click" rendered="#{user.type == 0}" listener="#{exerciseManage.change(exerciseManage.exercises[3].collection.get(i))}" update=":raspored"/>
                                        <p:column>
                                        <p:outputLabel value="#{exerciseManage.exercises[3].collection.get(i).auditoriums}"/>
                                        </p:column>
                                        
                                    <p:outputLabel value="#{exerciseManage.exercises[3].collection.get(i).getTime()}"/>
                                  
                                        <p:outputLabel value="#{exerciseManage.exercises[3].collection.get(i).reservation.description}" rendered="#{user.type == 0 or exerciseManage.exercises[3].collection.get(i).isMine}"/>
                                    
                                    
                                        <p:outputLabel value="#{exerciseManage.exercises[3].collection.get(i).reservation.teacher.name}" rendered="#{user.type == 1 and !exerciseManage.exercises[3].collection.get(i).isMine}"/>
                                  
                                    </h:panelGrid>
                                </p:column>
                                                                    <p:column headerText="Petak">
                                    
                                    <h:panelGrid columns="1" rendered="#{exerciseManage.exercises[4].collection.size() > i}" style="background-color:  #{exerciseManage.exercises[4].collection.get(i).isMine? 'red' : 'aquamarine'};" >
                                        <p:ajax event="click" rendered="#{user.type == 0}" listener="#{exerciseManage.change(exerciseManage.exercises[4].collection.get(i))}" update=":raspored"/>
                                        <p:column>
                                        <p:outputLabel value="#{exerciseManage.exercises[4].collection.get(i).auditoriums}"/>
                                        </p:column>
                                        
                                    <p:outputLabel value="#{exerciseManage.exercises[4].collection.get(i).getTime()}"/>
                                  
                                        <p:outputLabel value="#{exerciseManage.exercises[4].collection.get(i).reservation.description}" rendered="#{user.type == 0 or exerciseManage.exercises[4].collection.get(i).isMine}"/>
                                    
                                    
                                        <p:outputLabel value="#{exerciseManage.exercises[4].collection.get(i).reservation.teacher.name}" rendered="#{user.type == 1 and !exerciseManage.exercises[4].collection.get(i).isMine}"/>
                                  
                                    </h:panelGrid>
                                </p:column>
                                                                    <p:column headerText="Subota">
                                    
                                    <h:panelGrid columns="1" rendered="#{exerciseManage.exercises[5].collection.size() > i}" style="background-color:  #{exerciseManage.exercises[5].collection.get(i).isMine? 'red' : 'aquamarine'};" >
                                        <p:ajax event="click" rendered="#{user.type == 0}" listener="#{exerciseManage.change(exerciseManage.exercises[5].collection.get(i))}" update=":raspored"/>
                                        <p:column>
                                        <p:outputLabel value="#{exerciseManage.exercises[5].collection.get(i).auditoriums}"/>
                                        </p:column>
                                        
                                    <p:outputLabel value="#{exerciseManage.exercises[5].collection.get(i).getTime()}"/>
                                  
                                        <p:outputLabel value="#{exerciseManage.exercises[5].collection.get(i).reservation.description}" rendered="#{user.type == 0 or exerciseManage.exercises[5].collection.get(i).isMine}"/>
                                    
                                    
                                        <p:outputLabel value="#{exerciseManage.exercises[5].collection.get(i).reservation.teacher.name}" rendered="#{user.type == 1 and !exerciseManage.exercises[5].collection.get(i).isMine}"/>
                                  
                                    </h:panelGrid>
                                </p:column>
                                                                    <p:column headerText="Nedelja">
                                    
                                    <h:panelGrid columns="1" rendered="#{exerciseManage.exercises[6].collection.size() > i}" style="background-color:  #{exerciseManage.exercises[6].collection.get(i).isMine? 'red' : 'aquamarine'};" >
                                        <p:ajax event="click" rendered="#{user.type == 0}" listener="#{exerciseManage.change(exerciseManage.exercises[6].collection.get(i))}" update=":raspored"/>
                                        <p:column>
                                        <p:outputLabel value="#{exerciseManage.exercises[6].collection.get(i).auditoriums}"/>
                                        </p:column>
                                        
                                    <p:outputLabel value="#{exerciseManage.exercises[6].collection.get(i).getTime()}"/>
                                  
                                        <p:outputLabel value="#{exerciseManage.exercises[6].collection.get(i).reservation.description}" rendered="#{user.type == 0 or exerciseManage.exercises[6].collection.get(i).isMine}"/>
                                    
                                    
                                        <p:outputLabel value="#{exerciseManage.exercises[6].collection.get(i).reservation.teacher.name}" rendered="#{user.type == 1 and !exerciseManage.exercises[6].collection.get(i).isMine}"/>
                                  
                                    </h:panelGrid>
                                </p:column>
                            </p:dataTable>
                            </h:form>
                            <br/><br/>
                            <h:form>
                                <h:panelGroup>
                                    <h:panelGrid rendered="#{user.type == 1}" columns="5">
                            <p:calendar value="#{auditoriumReservationManage.date}" placeholder="datum"/>
                    
                            <p:inputText value="#{auditoriumReservationManage.startHour}" placeholder="pocetak sat">
                    </p:inputText>
                            <p:inputText value="#{auditoriumReservationManage.startMinute}" placeholder="pocetak minut">
                    </p:inputText>
                            <p:inputText value="#{auditoriumReservationManage.durationHour}" placeholder="duzina sat">
                    </p:inputText>
                    <p:inputText value="#{auditoriumReservationManage.durationMinute}" placeholder="duzina minut">
                    </p:inputText>
                            <p:inputText value="#{auditoriumReservationManage.description}" placeholder="opis"/>
                            <p:inputText value="#{auditoriumReservationManage.year}" placeholder="godina"/>
                            <p:inputText value="#{auditoriumReservationManage.type}" placeholder="smer"/>
                            <p:commandButton action="#{auditoriumReservationManage.checkAndReserve()}" value="Rezervisi" update=":jsf_message"/>
                                    </h:panelGrid>
                                </h:panelGroup>
                            </h:form>
                        </ui:define>
                    </ui:composition>
    </h:body>
</html>

