<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
                        <f:metadata>
                    <f:event type="preRenderView" listener="#{userManage.showAllUsers()}" />
        </f:metadata>
    </h:head>
    <h:body>
<ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form id="korisnici">
                <p:dataTable value="#{userManage.users}" var="user" styleClass="CSSTableGenerator">
                    <p:column>
                        <h:outputLabel value="#{user.username}"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="#{user.name}"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="#{user.surname}"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="Student" rendered="#{user.type eq 0}"/>
                        <h:outputLabel value="Nastavnik" rendered="#{user.type eq 1}"/>
                        <h:outputLabel value="Administrator" rendered="#{user.type eq 2}"/>
                    </p:column>    
                    <p:column>
                        <p:commandButton value="Rezervacije">
                        <p:ajax event="click" listener="#{auditoriumReservationManage.getReservationsForUser(user)}" update=":rezervacije :uvid"/>
                        </p:commandButton>
                    </p:column>  
                                        <p:column>
                        <p:commandButton value="Uvid">
                        <p:ajax event="click" listener="#{auditoriumReservationManage.thisUserShow(user)}" update=":rezervacije :uvid"/>
                        </p:commandButton>
                    </p:column>  
                    <p:column>
                        <p:commandButton ajax = "false" value="Deaktiviraj" action="#{userManage.disable(user)}">
           
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                </h:form>
                <br/><br/>
                <h:form id="rezervacije">
                    <p:dataTable value="#{auditoriumReservationManage.reservations}" var="reser" rendered="#{auditoriumReservationManage.reservations != null}" emptyMessage = "Nema rezervacija" styleClass="CSSTableGenerator">
                        <p:column headerText="Datum">
                            <p:calendar value="#{reser.date}" readonly="true"/>
                        </p:column>
                        <p:column headerText="Status">
                            <h:outputLabel value="Iskoriscena" rendered="#{reser.used == 2}"/>
                            <h:outputLabel value="Neiskoriscena" rendered="#{reser.used == 1}"/>
                            <h:outputLabel value="Nepoznat status" rendered="#{reser.used == 0}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <h:form id="uvid">
                    <h:panelGroup rendered="#{auditoriumReservationManage.thisUser!=null}">
                            <h:panelGrid columns="1">
                    <h:outputLabel for="name" value="Ime:" />  
                            <p:inputText readonly="true" id="name" value="#{auditoriumReservationManage.thisUser.name}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="surname" value="Prezime:" />  
                            <p:inputText readonly="true" id="surname" value="#{auditoriumReservationManage.thisUser.surname}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  
                            
                            <h:outputLabel for="birthplace" value="Mesto rodjenja:" />  
                            <p:inputText readonly="true" id="birthplace" value="#{auditoriumReservationManage.thisUser.birthplace}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  
                            
                            <h:outputLabel for="jmbg" value="JMBG:" />  
                            <p:inputText readonly="true" id="jmbg" value="#{auditoriumReservationManage.thisUser.jmbg}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  
                            
                            <h:outputLabel for="phone" value="Telefon:" />  
                            <p:inputText readonly="true" id="phone" value="#{auditoriumReservationManage.thisUser.phone}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>  

                            <h:outputLabel for="gender" value="Pol" />  
                            <p:inputText readonly="true" id="gender" value="#{auditoriumReservationManage.thisUser.gender}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/>
                            
                            <h:outputLabel for="email" value="E-mail:" />  
                            <p:inputText readonly="true" id="email" value="#{auditoriumReservationManage.thisUser.email}" required="true" requiredMessage="Korisničko ime je potrebno" styleClass="input"/> 
                            
                            <h:outputLabel for="year" value="Godina studija" rendered="#{auditoriumReservationManage.thisUser.type == 0}"/>
                            <p:inputText readonly="true" id="year" value="#{auditoriumReservationManage.thisUser.year}" rendered="#{auditoriumReservationManage.thisUser.type == 0}" styleClass="input"/>

                            <h:outputLabel for="field" value="Smer" rendered="#{auditoriumReservationManage.thisUser.type == 0}"/>
                            <p:inputText readonly="true" id="field" value="#{auditoriumReservationManage.thisUser.field}" rendered="#{auditoriumReservationManage.thisUser.type == 0}" styleClass="input"/>
                            
                            <h:outputLabel for="title" value="Titula" rendered="#{auditoriumReservationManage.thisUser.type == 1}"/>
                            <p:inputText readonly="true" id="title" value="#{auditoriumReservationManage.thisUser.title}" rendered="#{auditoriumReservationManage.thisUser.type == 1}" styleClass="input"/>
                            
                            
                            <h:outputLabel for="office" value="Kancelarija" rendered="#{auditoriumReservationManage.thisUser.type == 1}"/>
                            <p:inputText readonly="true" id="office" value="#{auditoriumReservationManage.thisUser.office}" rendered="#{auditoriumReservationManage.thisUser.type == 1}" styleClass="input"/>
                            </h:panelGrid>
                                            </h:panelGroup>
                            </h:form>
            </ui:define>
        </ui:composition>W
    </h:body>
</html>

