<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/style.css"/>
                <f:metadata>
                    <f:event type="preRenderView" listener="#{userManage.showUsers()}" />
        </f:metadata>
    </h:head>
    <h:body>
        <ui:composition template="master.xhtml">
            <ui:define name="sredina">
                <h:form>
                    <p:dataTable value="#{userManage.users}" var="user" id="users_approve" styleClass="CSSTableGenerator" emptyMessage="Nema korisnika koje treba odobriti">
                    <p:column>
                        <h:outputLabel value="#{user.name}"/>
                    </p:column>
                    <p:column>
                        <h:outputLabel value="#{user.surname}"/>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Odobri">
                            <p:ajax event="click" listener="#{userManage.enable(user)}" update="users_approve"/>
                        </p:commandButton>
                    </p:column>
                    <p:column>
                        <p:commandButton value="Odbij">
                        <p:ajax event="click" listener="#{userManage.disable(user)}" update="users_approve"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

